sublime2/User/Package\ Control.sublime-settings
sublime2/User/Package Control.last-run
git/gitconfig.symlink
tmuxinator.symlink/*.yml
config.symlink/configstore
config.symlink/hub
!tmuxinator.symlink/*
config.symlink/browser-launcher2/*
